generate_credentiales.py
twitter_credentials.json
data/followers.csv
data/friends.csv
__pycache__
views/__pycache__/*
*__pycache__/*
data/.~lock.tweets_mejorado 2.csv#
views/__pycache__/scatterplot.cpython-38.pyc